@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

.shadow{
    box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    opacity: 0.5;
    z-index: -1;
    background-color: #F8F4E9;
}

.find_pw_container {
    width: 512px;
    height: 456px;
    margin-left: 464px;    
    margin-right: 464px;   
    background-color: white;
    border-radius: 10px; 
    border: 1px solid black;
}

.findpw_text {
    font-size: 48px;
    margin-top: 176px;
}

.findpw_input {
    width: 512px;
    height: 64px;
    border-radius: 60px;
    border: 1px solid #B1B1B1;
    margin-top: 48px;
    margin-bottom: 48px;
    
}

.findpw_btn {
    width: 192px;
    height: 48px;
    font-size: 24px;
    background-color: #DF4629;
    border-radius: 60px;
    border: none;
}