.root {
    --color-red: #DF4629;
    --color-green: #728137;
    --color-ivory: #FAF7F1;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

#overlay {
    background-color: black;
    width: 1440px;
    height: 360px;
    position: absolute; 
    opacity: 0.5;
    z-index: 0;
}

.main_search {
    width: 1440px;
    height: 360px;
    background-image: url('./main.png');
    background-size: auto;
    z-index: -1;
}

.main_container {
    width: 840px;
    height: 360px;
    margin-top: 60px;
    z-index: 1;
}

.search_text1 {
    margin-top: 24px;
    font-size: 36px;
}

.search_text_etc {
    display: inline-block;
    padding-top: 4px;
    font-size: 36px;
}

.search_text2 {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.location_input {
    width: 258px;
    height: 48px;
    border-radius: 60px;
    border: 1px solid #B1B1B1;
    margin-bottom: 10px;
    cursor: pointer;
}

.keyword_input {
    width: 450px;
    height: 48px;
    border-radius: 60px;
    border: 1px solid #B1B1B1;
    cursor: pointer;
}

.search_button {
    width: 128px;
    height: 48px;
    background-color: #DF4629;
    border-radius: 60px;
    border: none;
}

a {
    text-decoration: none;
}

/* -------------------------------------------- */


/* html { font-size: 62.5%; }   */
/* 1rem = 10px */

h2{
    font-weight : bold;
    font-size: 2.8rem; /*28px*/ 
}
h3{
    font-weight : bold;
    font-size: 2rem; /*20px*/ 
}

.intro1, .intro2, .intro3 {
    padding: 48px 300px 48px 300px;
    /* display: flex; */
    justify-content : center;
    width: 100%; /*100%로 해야되지 않나?*/
    height: 360px;

}
.intro2{
    background-color:#FFEEEB;
}
.intro_container {
    margin: auto;
    display: flex;
    justify-content : center;
    
    max-width: 1440px;
    width: 100%;
    height: 300px;

}
.intro_container .intro1_img,.intro3_img{
    display: flex;
    margin-right: 188px;

}
.intro_container .intro2_img{
    display: flex;
    margin-left: 312px;

}
.intro_comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.intro1_span1, .intro2_span1, .intro3_span1{
    margin-bottom: 16px;
    font-size: 28px;
}

.intro1_span2, .intro2_span2, .intro3_span2{
    /* color: gray; */
    font-size: 20px;
}
img{
    width: auto;
    height: auto;

    display: block; /*넣으니 예쁘게 들어감*/
}