@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    opacity: 0.5;
    z-index: -1;
    background-color: #F8F4E9;
}

body {
    width: 100%;
    padding: 74px 184px 0 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* ================ base css ================= */

.cafe_name {
    font-size: 40px;
    margin-right: 5px;
}

.text1 {
    font-size: 28px;
}