/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
} */

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    background-color: #f8f4e9;
}

.shadow {
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}
/* 
body {
    width: 100%;
    padding: 74px 184px 0 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
    height: ;
} */

/* ================ base css ================= */

.container {
    padding: 55px 200px 80px 200px;
}

.top {
    margin-bottom: 50px;
}

.cafe_name {
    font-size: 40px;
    margin-right: 10px;
}

.rc_text1 {
    font-size: 24px;
}

.star_container {
    padding-left: 36px;
    width: 382px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 32px;
}

.star_text {
    padding-right: 30px;
    font-size: 24px;
}

.title_container {
    padding-left: 36px;
    width: 100%;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}

.title {
    font-size: 24px;
    padding-right: 10px;
}

.title_input {
    width: 60%;
    height: 35px;
    border: none;
}

.title_container input:focus {
    outline: none;
}

.title_container > input::placeholder {
    font-size: 18px;
    font-weight: light;
    color: #757575;
}

.content_container {
    border-radius: 10px;
    width: 100%;
    height: 450px;
    border: none;
    background-color: white;
    padding: 30px 36px 30px 36px;
    margin-bottom: 30px;
}

.content {
    width: 100%;
    height: 404px;
    border: none;
    background-color: white;
    resize: none;
}

.content > textarea::placeholder {
    font-size: 24px;
    font-weight: light;
    color: #757575;
}

.content_container textarea:focus {
    outline: none;
}

.keyword_container {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    background-color: white;
    padding-left: 36px;
}
.review_create_keywordselect {
    margin-top: 20px;
}

/*-- 키워드버튼 추가 부분 --*/
.keyword_btn {
    background-color: #f3f0e7;
    border-radius: 24px;
    width: 138px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #d6d6d6;
}
/* ---- */
.main_text {
    font-size: 24px;
    font-weight: regular;
    margin-right: 15px;
}

.sub_text {
    font-size: 15px;
    font-weight: light;
    color: #757575;
}

.image_container {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    background-color: white;
    padding-left: 36px;
}

/* ---- */
/* 별점 매기기 */
.star > fieldset > input[type="radio"] {
    display: none;
}
.fa-regular,
.fa-solid {
    color: gold;
}
.post_reviewimg {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
/* 사진 등록하기 부분 */
.upload_btn {
    background-color: #f3f0e7;
    border-radius: 24px;
    width: 138px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #d6d6d6;
    text-align: center;
    padding: 8px;
    margin: auto;
    margin-top: 12%;
}
.image_preview {
    margin-top: 20px;
}
.remove_btn_review {
    background-color: #f3f0e7;
    border-radius: 24px;
    width: 105px;
    height: 27px;
    font-weight: bold;
    border: 1px solid #d6d6d6;
    text-align: center;
    margin-left: 21%;
}
#login_btn,
#review_cancel_btn {
    background-color: #df4629;
    color: white;
    border-radius: 24px;
    width: 138px;
    height: 48px;
    font-weight: bold;
    border: none;
    font-size: 22px;
}
.review_btns {
    margin-left: 34%;
}
#login_btn {
    margin-right: 10%;
}
