{% extends 'nav.html' %}
{% block content %} {% load static %}

<div class="overlay_cj"></div>
<main id="cafe_detail">
    <div class="detail_container d-flex flex-column">
        
        <div class="cafe_index shadow d-flex">
            <div class="cafe_index_image">
                {% if cafe.image %}
                    <p>
                        <img src="{{ cafe.image.url }}" class="cd_img">
                    </p>
                {% endif %}
            </div>
            <div class="cafe_indexbox">
                <div class="cafe_index_name">
                    카페 상호명:  {{cafe.name}} <!-- ERD : Cafe name 상호명-->
                </div>
                <div class="cafe_index_district">
                    위치:  {{cafe.location_id.name}}<!-- ERD에 명시x , Cafe address에서 '구'만 따로 빼와야할까? -->
                </div>
                <div class="cafe_index_keywords">
                    #우선 나중에
                    {{cafe.keywords}}
                    <!-- ERD : 'CafeKeyword cafe_id 카페식별자' 외래키참조 -->
                </div>
                <div class="cafe_index_review d-flex flex-column">
                    <div class="cafe_index_reviewers">
                        {{review_cnt}}명의 평가 <!-- Review user_id 유저식별자에서 명 수 세서 표시해야 할듯 -->
                    </div>
                    <div class="cafe_index_score">
                        {{cafe.average_star}}점 <!-- 어케 할지 모르겠음 -->
                    </div>
                    <div class="cafe_index_star">
                        {% comment %} {%if r_average_star==0%}
                        ⭐️️️️️️️ ☆️️️️️ ☆️️️️️ ☆️️️️️ ☆️️️️️ 
                        {% elif r_average_star==1%}
                        ⭐️️️️️ ☆️️️️️ ☆️️️️️ ☆️️️️️ ☆️️️️
                        {% elif r_average_star==2%}
                        ⭐️️️️⭐️️️️ ☆️️️️️ ☆️️️️️ ☆️️️️
                        {% elif r_average_star==3%}
                        ⭐️️️️⭐️️️️⭐️️️️️️️ ☆️️️️️ ☆️️️️
                        {% elif r_average_star==4%}
                        ⭐️️️️⭐️️️️⭐️️️️⭐️️️️ ☆️️️️
                        {% elif r_average_star==5%}
                        ⭐️️️️⭐️️️️⭐️️️️⭐️️️️⭐️️️️ 
                        {% endif %} {% endcomment %}
                        
                    </div>
                </div>
                <div class="index_buttons d-flex">
                    <!-- <button id="signup_btn" type="submit" onclick="" data-bs-toggle="modal" data-bs-target="#howorder"></button> -->
                    <!-- <button  href="#not_login" class="review_like d-flex" role="button" data-toggle="modal">♥좋아요</button> -->
                    
                    {% comment %} q.안먹힘..user질문 {% endcomment %}
                    {% if request.user.is_authenticated %}
                    <button class="review_like d-flex" data-bs-toggle="modal" data-bs-target="#not_login" onclick="onClickLike({{cafe.id}})">♡ 좋아요</button>
                    <button class="review_write d-flex" data-bs-toggle="modal" data-bs-target="#not_login" href="">✍🏻 리뷰 하기</button>
                    {% else %}
    
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="cafe_info shadow d-flex flex-column">
            <div class="cafe_info_address d-flex align-items-center">
                <div class="cafe_info_index">주소</div>
                <div class="address"> {{cafe.address}}</div> <!-- ERD : Cafe address 상세주소-->
            </div>
            <div class="cafe_info_number d-flex align-items-center">
                <div class="cafe_info_index">전화번호</div>
                <div class="number"> {{cafe.number}}</div> <!-- ERD : Cafe number 전화번호-->
            </div>
            <div class="cafe_info_runtime d-flex align-items-center">
                <div class="cafe_info_index">영업시간</div>
                <div class="runtime"> {{cafe.runtime}}</br></div> <!-- ERD : Cafe runtime 영업시간-->
            </div>
            <div class="cafe_info_menu d-flex align-items-center">
                <div class="cafe_info_index">메뉴</div>
                &nbsp; &nbsp;
                <div class="cafe_menu">
                    {{cafe.menu}}
                    </div> <!-- ERD : Cafe menu 메뉴정보-->
            </div>
        </div>
        {% for review in all_review %}
        <div class="cafe_reviews shadow d-flex flex-column">
            <div class="cafe_review_Allinfo d-flex flex-column">
                <div class="cafe_review_info d-flex">
                    <div class="cafe_review_title d-flex">
                        {{review.title}}
                    </div>
                    <div class="cafe_review_nickname d-flex">
                        
                      {{review.user_id.nickname}}
                         
    
                    </div>
                    <div class="cafe_review_time d-flex">
                        {{review.created_at}} <!-- ERD : Review time 작성날짜-->
                    </div>
                    {% comment %} <div class="cafe_review_studentmark d-flex">
                        <img src="{% static 'image/main_crown.svg' %}" class="studentmark" width="80px" height="80px"> 
                    </div> <!--대학생 인증 마크--> {% endcomment %}
                    {% if review.mark == True %}
                    <div class="cafe_review_studentmark d-flex">
                        <img src="{% static 'image/main_crown.svg' %}" class="studentmark" width="80px" height="80px"> 
                    </div> <!--대학생 인증 마크-->
                    {%else%}
                           
                    {% endif %}
                </div>
                <div class="cafe_review_scorestar d-flex">
                    <div class="cafe_review_score d-flex">
                        {{review.star}}점
                    </div>
                    <div class="cafe_review_star d-flex">
                        {% comment %} {% if review.star.equals('1') %}
                        ⭐️️️
                        {% if review.star ==2 %}
                        ⭐️️️️⭐️️️️
                        {% if review.star ==3 %}
                        ⭐️️️️⭐️️️️⭐️️️️
                        {% if review.star ==4 %}
                        ⭐️️️️⭐️️️️⭐️️️️⭐️️️️️️️
                        {% if review.star ==5 %}
                        ⭐️️️️⭐️️️️⭐️️️️⭐️️️️⭐️️️️️   {% endcomment %}
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="cafe_review_content d-flex"> <!-- ERD : Review content 내용-->
                {{review.content}}
                    
            </div>
            <div class="cafe_review_keywords d-flex">
                {% comment %} {{review.keywords}} {% endcomment %}

                #리뷰키워드 <!-- ERD :  'CafeKeyword review_id 리뷰식별자' 외래키참조-->
            </div>
            <div class="cafe_review_images">
                <img class="cafe_review_image" src="https://picsum.photos/150/150"/> <!-- ERD : Cafe image 대표사진, 사진을 담을 erd개체가 필요해보임[Review.image개체가 있단다 창진아]-->
                <img class="cafe_review_image" src="https://picsum.photos/150/150"/> <!-- ERD : Cafe image 대표사진, 사진을 담을 erd개체가 필요해보임[Review.image개체가 있단다 창진아]-->
                <img class="cafe_review_image" src="https://picsum.photos/150/150"/> <!-- ERD : Cafe image 대표사진, 사진을 담을 erd개체가 필요해보임[Review.image개체가 있단다 창진아]-->
                <img class="cafe_review_image" src="https://picsum.photos/150/150"/> <!-- ERD : Cafe image 대표사진, 사진을 담을 erd개체가 필요해보임[Review.image개체가 있단다 창진아]-->
                
            </div>
        </div>
        {% endfor %}
    </div>
</main>
<!-- modal -->
<!--로그인 안하고 리뷰쓰기or 좋아요 클릭시 띄우는 모달-->
{% comment %} <div class="modal fade" id="not_login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <span class="modal_text1">로그인 이후에 사용 가능합니다.</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick = "location.href = '#로그인페이지주소' " class="close-btn" data-bs-dismiss="modal">
                    로그인
                </button>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/cafe_like.js' %}"></script>
{% endblock %}