{% extends 'nav.html' %} {% block content %} {% load static %}

<div class="overlay"></div>
<main id="login">
    <div class="login_container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="login_id_box">
                <p class="box_name">아이디</p>
                <input class="shadow" type="text" name="users_id" {% if recent_login_id %}value="{{recent_login_id}}" {% endif %} />
                <br />
                <span class="d-flex align-items-center">
                    <span>아이디 저장</span>
                    <input class="login_checkbox" type="checkbox" name="isidstorage" {% if isidstorage %}checked{% endif %} />
                </span>
            </div>
            <div class="login_pw_box">
                <p class="box_name">비밀번호</p>
                <input class="shadow" type="password" name="password" />
            </div>
            <button id="login_login_btn" type="submit" onclick="" data-bs-toggle="modal" data-bs-target="#wrong_infromation">로그인</button>
            <!--onclick에 뭐 들어가야될 거 같음-->
            <div class="login_submenu">
                <a href="{% url 'User:sign_up' %}">회원가입&nbsp;</a>
                <!--href부분에 url삽입-->
                <span class="submenu_bar">|</span>
                <a href="{% url 'User:findpw' %}">&nbsp;비밀번호 찾기</a>
                <!--href부분에 url삽입-->
            </div>
        </form>
    </div>
    {% if messages %}
    <div class="modal fade" id="wrong_information">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    {% for message in messages %}
                    <span class="modal_text1">{{message}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#wrong_information").modal("show");
    });

    {% if user.verified %}
    alert("이미 로그인한 상태입니다.");
    window.location.href = "{% url 'Cafe:main' %}";
    {% endif %}
</script>
{% endblock %}
