<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        li {font-weight : bold; font-size:24px; }
    </style>
    <title>Document</title>
</head>
<body>
<header style="list-style : none;">
    <ul style="list-style: none; display : grid; grid-template-columns: 2fr 2fr 1fr 1fr 1fr; grid: gap 8px;"> 
        <li>
    <img style="width: 224px ; height : 38px" src="../static/image/logo.png"/>
</li>
<li>
    <input type="text" id="search" style="width:708px;height:48px;" value="지역,키워드 선택"/>
</li>
<li style="font-size : 10px;">
    <h2>공지사항</h2>
</li>
<li style="font-size : 10px;">
    <h2>로그인</h2>
</li>
<li style="font-size : 10px;">
   <h2> 회원가입<h2>
</li>
</ul>
    



</header>

<footer>
    <ul style="list-style: none;">

        <li style="float: left;">
            helloncofficial@gamil.com
        </li>
        <li style="float:right; margin-left:30px;">
            NearByCafe 2023 All rights reserved
        </li>
    </ul>
  
    
</footer>
    
</body>
</html>